<h2 class="home_filters">Filters:</h2>

<form class="home__form-search">
  <div class="home_form">
    <div class="home_input-wrapper">
      <input
        class="home_search-input"
        type="text"
        id="searchInput"
        name="keyword"
        placeholder="Search for anything"
      />
      <button type="submit" class="home_search-button">
        <svg class="home_icon-search" width="20" height="20">
          <use href="./images/icons/icons.svg#icon-search"></use>
        </svg>
      </button>
    </div>

    <div class="home_select-categories">
      <select class="home_categorias-search" id="searchParams1" name="category">
        <option
          disabled
          selected
          value="Show All"
          hidden
          data-placeholder="true"
        >
          Categories
        </option>
      </select>
    </div>
    <div class="home_select-sort">
      <select class="home_categorias-sort" id="searchParams2" name="sort">
        <option value="byABC=true" data-placeholder="true">A-Z</option>
        <option value="byABC=true">A-Z</option>
        <option value="byABC=false">Z-A</option>
        <option value="byPrice=true">Cheap</option>
        <option value="byPrice=false">Expensive</option>
        <option value="byPopularity=false">Popular</option>
        <option value="byPopularity=true">Not popular</option>
        <option value="byABC=true">Show All</option>
      </select>
    </div>
  </div>
</form>
