<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-first-box">
        <div class="footer-logo-text-container">
          <a href="./index.html" class="logo-link-svg link">
            <svg class="logo-svg" width="16" height="16">
              <use href="./images/icons/icons.svg#icon-cabbage"></use>
            </svg>
          </a>
          <a href="./index.html" class="footer-logo-link link">Food Boutique</a>
        </div>

        <ul class="footer-socials-list list">
          <li class="footer-socials-item">
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener no-referrer"
              class="socials-link link"
              ><svg class="socials-svg" width="24" height="24">
                <use href="./images/icons/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a
              href="https://www.instagram.com/goitclub/ "
              target="_blank"
              rel="noopener no-referrer"
              class="socials-link link"
            >
              <svg class="socials-svg" width="24" height="24">
                <use href="./images/icons/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener no-referrer"
              class="socials-link link"
            >
              <svg class="socials-svg" width="24" height="24">
                <use href="./images/icons/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-second-box">
        <div class="footer-text-box">
          <p class="footer-first-text">
            Discover the Variety of Flavors and Quality
          </p>
          <p class="footer-second-text">
            An online store where you will find fresh, natural and delicious
            products for a healthy life and unforgettable gastronomic
            adventures.
          </p>
        </div>
        <div class="footer-form-container">
          <form class="footer-form">
            <label for="email" class="footer-form-subscribe"
              >Subscribe and learn about new products!</label
            >
            <input
              id="email"
              class="footer-input reset-autofill"
              type="email"
              name="email"
              placeholder="Email"
              title="Invalid email address"
              aria-label="Email"
              required
              pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
            />
            <button class="footer-form-btn" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>

    <div class="footer-rights-policy-terms">
      <p class="footer-rights">Food Boutique. All rights reserved.</p>
      <div class="policy-terms-box">
        <a
          href="https://www.freeprivacypolicy.com/live/f1ec1e9a-d65b-4d41-a840-424a3674fd56"
          class="footer-policy link"
          target="_blank"
          rel="noopener no-referrer"
          >Privacy Policy</a
        >
        <span>&nbsp;/&nbsp;</span>
        <a
          href="https://www.freeprivacypolicy.com/live/f925529a-df02-4c84-a792-7b270ee39ee9"
          class="footer-terms link"
          target="_blank"
          rel="noopener no-referrer"
          >Terms of Service</a
        >
      </div>
    </div>
  </div>
</footer>
<div class="footer-backdrop is-hidden" data-modal-footer>
  <div class="footer-modal">
    <!-- <button class="footer-modal-close-btn" type="button" data-modal-close>
      <svg class="footer-modal-icon" width="22" height="22">
        <use href="./images/icons/icons.svg#icon-close-sharp"></use>
      </svg>
    </button> -->
    <button class="footer-btn-ok data-modal-close" data-modal-close>OK</button>
  </div>
</div>
