<!-- Mobile menu in svg -->
<header class="header">
  <div class="container">
    <nav class="nav flex">
      <div class="logo-box flex">
        <a href="./index.html" class="logo flex">
          <div class="logo-img flex">
            <svg class="logo-svg-header">
              <use href="./images/icons/icons.svg#icon-cabbage"></use>
            </svg>
          </div>
          <span class="logo-text">food boutique</span>
        </a>
      </div>
      <div class="basket-header-box flex">
        <a href="./index.html" class="btn-home flex">
          <span class="btn-home-text">home</span>
        </a>

        <a href="./cart.html" class="heder-cart-link js-header-cart">
          <svg class="heder-cart" width="14" height="14">
            <use href="./images/icons/icons.svg#icon-shopping-cart"></use>
          </svg>
        </a>

        <p class="heder-cart-text">cart</p>
        <div class="cart-number-box">
          &nbsp;(<span class="js-cart-number">0</span>)
        </div>
      </div>
    </nav>
  </div>
</header>
