<div class="pag-ribbon">
  <button type="button" class="pag-btn pag-item">
    <svg class="arrow-icon" width="12" height="12">
      <use href="./images/icons/icons.svg#icon-caret-small-left"></use>
    </svg>
  </button>
  <ul class="pag-wrapper">
    <li><button type="button" class="pag-item">1</button></li>
    <li><button type="button" class="pag-item">2</button></li>
    <li><button type="button" class="pag-item">...</button></li>
    <li><button type="button" class="pag-item">7</button></li>
    <li><button type="button" class="pag-item">8</button></li>
  </ul>
  <button type="button" class="pag-btn pag-item">
    <svg class="arrow-icon" width="12" height="12">
      <use href="./images/icons/icons.svg#icon-caret-small-right"></use>
    </svg>
  </button>
</div>
