body {
  font-family: 'Neue Montreal', sans-serif;
  font-size: 18px;
  line-height: 1.333;
  color: var(--black-color);
  background-color: var(--background-color);
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}
button {
  border: none;
}
.button-disabled {
  opacity: 0.65;
  pointer-events: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.container {
  width: 100%;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  body {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.common-card {
  cursor: pointer;
}
