/* body {
  font-family: Neue Montreal;
  font-size: 14px;
  line-height: 1.33;
  color: var(--#010101);
  background-color: var(--#E8E8E2); 
} */

.footer {
  background-color: var(--olive-color);
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-logo-text-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.footer-logo-link {
  color: var(--background-color);
  font-family: 'Quincy CF', sans-serif;
  /* font-size: 18px; */
  font-weight: 900;
  /* не працює 900 а 500 шрифти налашт */
  line-height: 1.11;
  letter-spacing: -0.36px;
}

.footer-form-subscribe {
  color: var(--background-color);
  /* font-family: 'Neue Montreal',  sans-serif; */
  font-size: 14px;
  /* font-weight: 400; */
  line-height: 1.28;
  margin-bottom: 20px;
}

.socials-logo {
  fill: var(--background-color);
  opacity: 0.8;
  width: 24px;
  height: 24px;
}

/* загальні стилі  logo */

/* mob */

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: var(--background-color);
  border-radius: 50%;
}

.logo {
  fill: var(--olive-color);
}

/* ---------------------------FOOTER - MOBILE */

.footer-socials-list {
  margin-bottom: 48px;
  display: flex;
  gap: 12px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(232, 232, 226, 0.3);
  background-color: transparent;
  width: 40px;
  height: 40px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-text-box {
  display: flex;
  flex-direction: column;
  max-width: 335px;
  /*   335px ?*/
  gap: 14px;
  margin-bottom: 80px;
}

.footer-first-text {
  color: var(--background-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.48px;
}

.footer-second-text {
  color: rgba(232, 232, 226, 0.7);
  font-size: 14px;
  /* font-weight: 400; */
  line-height: 1.28;
}

.footer-form {
  /* width: 100%; */

  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.footer-label {
  display: block;
  margin-bottom: 14px;
}

.footer-input::placeholder {
  color: rgba(232, 232, 226, 0.6);
}

.footer-input {
  width: 100%;
  padding: 12px 18px;
  border-radius: 30px;
  border: 1px solid #e8e8e2;
  background-color: transparent;
  color: var(--background-color);
  font-family: Neue Montreal;
  font-size: 14px;
  line-height: 1.28;
  outline: none;
}

.footer-form-btn {
  display: flex;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background: #e8e8e2;
  color: #010101;
  font-family: 'Neue Montreal';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.28;
}

.footer-rights-policy-terms {
  margin-bottom: 0;
}

.footer-rights-policy-terms {
  color: #e8e8e2;
  font-size: 14px;
  font-style: normal;
  line-height: 1.28;
}

.footer-rights {
  margin-bottom: 8px;
}

.footer-form-container {
  margin-bottom: 80px;
}

/* -------------------------------TABLET  */
@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }

  .footer-form-container {
    margin: 0;
  }

  .footer-logo-span {
    width: 32px;
    height: 32px;
  }

  .socials-logo {
    width: 28px;
    height: 28px;
  }

  .footer-logo-link {
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.48px;
  }

  .footer-socials-list {
    margin: 0;
  }

  .footer-text-box {
    max-width: 429px;
    gap: 20px;
    margin-bottom: 64px;
  }

  .footer-first-text {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.8px;
  }

  .footer-second-text {
    font-size: 18px;
    line-height: 1.33;
  }

  .footer-form-container {
    max-width: 336px;
  }

  .footer-form-subscribe {
    font-size: 18px;
  }

  .footer-label {
    margin-bottom: 20px;
  }
  .footer-input {
    font-size: 16px;
    line-height: 1.5;
  }

  .footer-form-btn {
    color: #010101;
    font-family: 'Neue Montreal', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

  .footer-form-btn:hover {
    color: var(--olive-color);
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-rights-policy-terms {
    display: flex;
    justify-content: space-between;
  }

  .footer-policy {
    margin-right: 8px;
  }

  .footer-rights {
    margin-bottom: 0;
  }

  .socials-link {
    width: 44px;
    height: 44px;
  }
  .socials-link:hover {
    background-color: rgba(232, 232, 226, 0.2);
  }

  .socials-logo {
    width: 28px;
    height: 28px;
  }

  /* загальні стилі  logo */

  /* tablet */
  .logo-link {
    width: 32px;
    height: 32px;
  }

  .logo {
    width: 20px;
    height: 20px;
  }

  /* ховери на ссилки полиси та термс ? */
}

/* -------------------------------------DESKTOP  */
@media screen and (min-width: 1440px) {
  .wrapper {
    margin-bottom: 128px;
  }

  .footer-text-box {
    max-width: 410px;
  }
  .footer-second-box {
    display: flex;
    gap: 148px;
  }

  .footer-text-box {
    margin: 0;
  }
}
