/* Container */
.home_product-card-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 40px;
  padding-bottom: 40px;
}
.products-wraper {
  width: 100%;
  max-width: 335px;
}
.hero-products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cards */
.js-product-card {
  width: 335px;
  padding: 20px;
  background-color: var(--white-color);
  border-radius: 20px;
}

.image-product {
  max-width: 295px;
  height: 178px;
  position: relative;
  padding: 19px 77px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--background-color);
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name-product {
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 10px;
}

.info-product {
  margin-bottom: 40px;
}

.characteristics-product {
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
}

.details-product {
  color: var(--black-color);
  margin-right: 8px;
}

.product-card-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.price-product {
  font-weight: 500;
  line-height: 1.11;
}

.js-button-shopping {
  width: 34px;
  height: 34px;
  padding: 8px;
  display: block;
  border-radius: 50%;
  background-color: var(--olive-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.icon-shopping-card {
  fill: var(--background-color);
}

@media screen and (min-width: 768px) {
  .products-wraper {
    min-width: 704px;
  }

  .js-product-card {
    flex-basis: calc((100% - 32px) / 2);
  }

  .image-product {
    padding: 19px 78px;
  }
  .name-product {
    line-height: 1.2;
  }
  .price-product {
    line-height: 1.2;
  }
  .js-button-shopping:hover,
  .js-button-shopping:focus {
    background-color: var(--olive-hover-color);
  }
  .js-product-card:hover,
  .js-product-card:focus {
    box-shadow: 0px 9.1px 16.53437px 0px rgba(0, 0, 0, 0.02),
      0px 41.6px 46.475px 0px rgba(0, 0, 0, 0.04),
      0px 105.3px 124.67812px 0px rgba(0, 0, 0, 0.05),
      0px 208px 286px 0px rgba(0, 0, 0, 0.07);
  }
}

@media screen and (min-width: 1440px) {
  .hero-products-container {
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    height: 1250px;
  }
  .products-wraper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 925px;
  }
  .js-product-card {
    max-width: 295px;
    flex-basis: calc((100% - 20px) / 3);
  }
  .image-product {
    padding: 19px 58px;
  }
  .info-product {
    margin-bottom: 20px;
  }
  .price-product {
    font-size: 20px;
  }

  .home_product-card-container {
    padding-bottom: 0;
  }
}

/*! стилі для тексту,коли товар не знайдено */

.js-empty-product-card {
  display: flex;
  flex-direction: column;
  width: 270px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding-bottom: 100px;
  padding-top: 60px;
}

.text-nothing-found {
  color: var(--black-color);
  text-align: center;
  font-family: Neue Montreal;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  width: 261px;
}

.text-nothing-found span {
  color: var(--olive-color);
}

.text-try {
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  font-family: Neue Montreal;
  font-size: 14px;
  line-height: 1.29;
  width: 279px;
}

@media screen and (min-width: 768px) {
  .js-empty-product-cards-container {
    margin: 0 auto;
    justify-content: center;
    width: 370px;
  }
  .text-nothing-found {
    font-size: 20px;
    line-height: 1.2;
    width: 367px;
  }

  .text-try {
    font-size: 18px;
    line-height: 1.33;
    width: 371px;
  }

  .js-empty-product-card {
    padding-top: 110px;
    padding-bottom: 236px;
    width: 370px;
  }
}

@media screen and (min-width: 1440px) {
  .js-empty-product-card {
    padding-top: 140px;
    padding-bottom: 0;
  }
}
